.userinfo{
    margin: 1rem;
    font-size: xx-large;
}
#logout a{
    text-decoration: none;
    color: black;
}
#loginpage{
    text-align: center;
    color: white;
    text-decoration: none;
}
.container col-md-9{
    width: 50%;
}
.tabletitle{
    text-align: center;
    font-size: x-large;
}
